<div class="footer margin-top">
    <div class="container">
        <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-inner">
                        <div class="footer-content">
                            <h4>FreeFireHub</h4>
                                <address>South Street<br> Kilakarai Ramanathapuram<br>Tamilnadu India</address>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-md-push-8 col-sm-4 col-xs-12">
                    <div class="footer-inner">
                        <div class="footer-content">
                           <h4>CONTACT INFO</h4>
                            <p>
                                T:6379813960 <br>
                                E:freefirehubassociate@gmail.com<br>
                                W:www.freefirehub.ga
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-inner">
                        <div class="footer-content">
                            <ul class="social-media">
                                <li><a href="https://www.facebook.com/Free-Fire-Hub-106476461146908"><i class="iconmoon-facebook"></i></a></li>
                                <li><a href="https://twitter.com/freefirehub1"><i class="iconmoon-twitter"></i></a></li>
                                <li><a href="https://in.pinterest.com/freefirehubassociate"><i class="iconmoon-pinterest"></i></a></li>
                                <li><a href="https://instagram.com/free_firehub"><i class="iconmoon-instagram"></i></a></li>
                             </ul>
                        <span class="copyright-mark">&copy; 2020 FreeFireHub, ALL RIGHTS RESERVED</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>