{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block body %}

<div class="container">
    <div class="header-page ef-parallax-bg" style="background-image:url({% static 'img/about-header.jpg'%});background-size: cover;">
        <div class="col-md-6 col-md-offset-6">
            <div class="row">
                <div class="inner-content">
                    <div class="header-content">
                        <h1>About Us</h1>
                        <hr>
                        <p>Everything created in simple way</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="main-title near-content">
        <h1>WE ARE FREEFIREHUB AGENCY</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p style="font-size: 18px; line-height: 26px;">Who loves or pursues or desires to <b>SELL</b> pain of itself,We help everyone on thier way to sell thier freefire accounts and also help them <b>BUY</b> the desired account they want</p>
        </div>
        <div class="col-md-4">
            <p>We are a group of 3 young teenagers who has a desire to make thier career more fun and wonderful on the way up to the maximum point and help everyone at the same time and we <b>LOVE</b> to help you as well</p>
        </div>
        <div class="col-md-4">
            <p><strong>WEBSITE</strong> we do also make websites. if someone needs one you can also contact us for that reason too and Feel free to <b>CONTACT</b> us if you need help in something we will get back to you sooner on your mail</p>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="row">
        <div class="col-md-12">
            <div class="our-story wow fadeInUp" style="background: url({% static 'img/our-story.jpg'%}) no-repeat; background-size: cover;background-position: center;" data-wow-duration="0.5s" data-wow-delay="0.2s">
               <div class="col-md-6 col-md-offset-6">
                    <div class="our-story-content wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <div class="our-story-content-inner">
                            <h1>OUR STORY</h1>
                            <hr>
                            <p>
                                Who loves or pursues or desires to <b>SELL</b> pain of itself,We help everyone on thier way to sell thier freefire accounts and also help them <b>BUY</b> the desired account they want
                                We are a group of 3 young teenagers who has a desire to make thier career more fun and wonderful on the way up to the maximum point and help everyone at the same time and we <b>LOVE</b> to help you as well
                                <br><br>
                                <p><strong>WEBSITE</strong> we do also make websites. if someone needs one you can also contact us for that reason too and Feel free to <b>CONTACT</b> us if you need help in something we will get back to you sooner on your mail</p>

                            </p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="main-title">
        <h1>WHY CHOOSE US?</h1>
        <hr>
        <h6>Except to obtain some advantage from it</h6>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="services-home-page">
                <div class="col-md-12 wow fadeInUp" data-wow-duration="0.2s" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="services-icon">
                            <span class="icon-tools"></span>
                            <hr>
                        </div>
                        <h4>TRUSTED</h4>
                        <p>You can completely rely on us without any hesitations since we do provide yourself with enough information of ourself and allow you to gain an edge over to sell your product</p>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
                    <div class="row">
                        <div class="services-icon">
                            <span class="icon-globe"></span>
                            <hr>
                        </div>
                        <h4>SAFE PAYMENTS</h4>
                        <p>Since we are completely <b>TRUSTED</b> persons. You are assured with an safe payments gateway and you are accounts and its details are completely hashed and privatized for more safety</p>
                    </div>
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">
                    <div class="row">
                        <div class="services-icon">
                            <span class="icon-paintbrush"></span>
                            <hr>
                        </div>
                        <h4>EASIER TO SELL</h4>
                        <p>Since this websites sole purpose is to <b>BUY</b> and <b>SELL</b> Freefire accounts so there are lots of people who need to buy an awesome accounts and as well sell an account at their own reasonable rate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
            <div class="our-story-image wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <img style="width: 68rem;height: 67.5rem;object-fit: cover;" src="{% static 'img/services.jpg'%}" alt="Our Story">
            </div>
    </div>
</div>

<div class="container margin-top">
    <div class="main-title">
        <h1>OUR AMAZING TEAM</h1>
        <hr>
        <h6>Except to obtain some advantage from it</h6>
    </div>
    <div id="my-own-img-custom-1"class="owl-carousel team">
        <div>
            <div class="img member">
                <img src="{% static 'img/team/member_1.jpg'%}" alt="Team Member">
                <div class="overlay-thumb">
                    <div class="overlay-member-content">
                        <div class="overlay-member-content-inner">
                            <span class="position">WEB DEVELOPER</span>
                            <hr>
                            <ul class="member-social-media">
                                <li><a href="http://instagram.com/sathakhussam" target="_blank">Instagram</a></li>
                                <!-- <li><a href="#" target="_blank">Dribbble</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <span class="btnBefore"></span>
                    <span class="btnAfter"></span>
                </div>
            </div>
            <span class="member-name">SATHAK UZHAM</span>
        </div>          

        <div>
            <div class="img member">
                <img src="{% static 'img/team/member_2.jpg'%}" alt="Team Member">
                <div class="overlay-thumb">
                    <div class="overlay-member-content">
                        <div class="overlay-member-content-inner">
                            <span class="position">DIGITAL MARKETER</span>
                            <hr>
                            <ul class="member-social-media">
                                <li><a href="http://facebook.com/mohammed.mufeeth.13" target="_blank">Facebook</a></li>
                                <li><a href="http://twitter.com/MM7record" target="_blank">Twitter</a></li>
                                <li><a href="http://instagram.com/crazy_mm7_official_" target="_blank">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="btnBefore"></span>
                    <span class="btnAfter"></span>
                </div>
            </div>
            <span class="member-name">MOHAMMED MUFEETH</span>
        </div>          

        <div>
            <div class="img member">
                <img src="{% static 'img/team/member_3.jpg'%}" alt="Team Member">
                <div class="overlay-thumb">
                    <div class="overlay-member-content">
                        <div class="overlay-member-content-inner">
                            <span class="position">FIELD EXECUTIVE</span>
                            <hr>
                            <ul class="member-social-media">
                                <li><a href="http://instagram.com/ajhar2812" target="_blank">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <span class="btnBefore"></span>
                    <span class="btnAfter"></span>
                </div>
            </div>
            <span class="member-name">AJHAR</span>
        </div>          

         <div>
            <div class="img member">
                <img src="{% static 'img/team/member_4.jpg'%}" alt="Team Member">
                <div class="overlay-thumb">
                    <div class="overlay-member-content">
                        <div class="overlay-member-content-inner">
                            <span class="position">GAMER</span>
                            <hr>
                            <ul class="member-social-media">
                                    <li>NO SOCIAL MEDIA</li>
                            </ul>
                        </div>
                    </div>
                    <span class="btnBefore"></span>
                    <span class="btnAfter"></span>
                </div>
            </div>
            <span class="member-name">BILAL</span>
        </div>     
    </div>
</div>

<!-- <div class="container margin-top">
    <div class="clients-wrapper">
        <ul class="client-thumb">
            <li><a href="#"><img src="img/clients/client_1.jpg" alt="Client 1"></a></li>
            <li><a href="#"><img src="img/clients/client_2.jpg" alt="Client 1"></a></li>
            <li><a href="#"><img src="img/clients/client_3.jpg" alt="Client 1"></a></li>
            <li><a href="#"><img src="img/clients/client_4.jpg" alt="Client 1"></a></li>
        </ul>
    </div>
</div> -->


{% endblock %}