{% extends 'base.html' %}
{% block title %}
<title>Update Listing</title>
{% endblock %}
{% block body %}
{% if forms  %}
<div class="container margin-top">
    <!-- <h1><b>Create Listing</b></h1> -->
    <div class="contact-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="contact-form">
                <h1 style="margin-bottom: 2rem;"><i class="icon-upload"></i> Update Listing</h1>
                <!-- <input type="text" placeholder="E-MAIL">
                <input type="text" placeholder="PASSWORD"> -->

                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ forms.as_p }}
                    <input type="submit" value="Update">
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else%}
<h4>You're not allowed to modify this form</h4>
{% endif%}
{% endblock %}